<p>A heading or full paragraph can align to the left, right or center of the page.</p>
<div class="row">
  {{ styleguide('
<p class="text-left">Left aligned text.</p>

<p class="text-center">Center aligned text.</p>

<p class="text-right">Right aligned text.</p>
  ') }}
</div>
