<p>Create a button by adding the <strong>.button</strong> class to a link. Add further modifier classes to change its appearance.</p>

<h4>Modifier classes</h4>

<ul>
  <li><strong>button-small</strong></li>
  <li><strong>button-large</strong></li>
  <li><strong>button-circle</strong></li>
</ul>

<h4>Color classes</h4>
<ul>
  <li><strong>button-primary</strong></li>
  <li><strong>button-secondary</strong></li>
  <li><strong>button-grey</strong></li>
  <li><strong>button-status</strong></li>
  <li><strong>button-warning</strong></li>
  <li><strong>button-error</strong></li>
</ul>

<div class="row">
  <div class="col col-md-6">
    <div class="sg-example">
      <p>
        <a href="#" class="button">Default</a> <a href="#" class="button button-primary">Primary</a>
        <a href="#" class="button button-secondary">Secondary</a>
        <a href="#" class="button button-grey">Grey</a>
      </p>
      <p>
        <a href="#" class="button button-status">Status</a>
        <a href="#" class="button button-warning">Warning</a>
        <a href="#" class="button button-error">Error</a>
      </p>
      <p>
        <a href="#" class="button button-large">Large</a><br/>
        <a href="#" class="button button-small">Small</a>
      </p>
      <p><a href="#" class="button icon-mail">Button with icon</a></p>
      <p><a href="#" class="button button-circle icon-close"><span>Close</span></a></p>
    </div>
  </div>
  <div class="col col-md-6">
          <pre class="sg-code">
            <code class="language-markup">
              {{ styleguideHtml('
<a href="#" class="button">Default</a>
<a href="#" class="button button-primary">Primary</a>
<a href="#" class="button button-secondary">Secondary</a>
<a href="#" class="button button-grey">Grey</a>

<a href="#" class="button button-status">Status</a>
<a href="#" class="button button-primary">Warning</a>
<a href="#" class="button button-error">Error</a>

<a href="#" class="button button-large">Large</a>
<a href="#" class="button button-small">Small</a>

<a href="#" class="button icon-mail">Button with icon</a>

<a href="#" class="button button-circle icon-close"><span>Close</span></a>
                  ') }}
            </code>
          </pre>
  </div>
</div>