<p>Example for a classic quote with author.</p>
<div class="row">
  <div class="col col-md-6">
    <div class="sg-example">
      <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <p class="small">Markus Callisto, Dynamic Intranet Producer</p>
      </blockquote>
    </div>
  </div>
  <div class="col col-md-6">
          <pre class="sg-code">
            <code class="language-markup">
              {{ styleguideHtml('
<blockquote>
  <p>...</p>
  <p class="small">..., ...</p>
</blockquote>
                  ') }}
            </code>
          </pre>
  </div>
</div>