<p>
  <span class="icon-status-warning"></span><strong>Never</strong> use the hexadecimal color codes. Always use the predefined color classes.
</p>
<div class="row">
<div class="col-sm-6">
  <div class="clearfix">
    <div class="sg-color-block sg-color-block-large background-primary color-white default-border default-border-radius">
      <span class="color-name">Primary</span> <span class="color-hex">#</span>
    </div>
    <div class="sg-color-block sg-color-block-large background-secondary color-white default-border default-border-radius">
      <span class="color-name">Secondary</span> <span class="color-hex">#</span>
    </div>
  </div>
  <div class="clearfix">
    <div class="sg-color-block background-black color-white default-border default-border-radius">
      <span class="color-name">Black</span> <span class="color-hex">#</span>
    </div>
    <div class="sg-color-block background-grey default-border default-border-radius">
      <span class="color-name">Grey</span> <span class="color-hex">#</span>
    </div>
    <div class="sg-color-block background-background default-border default-border-radius">
      <span class="color-name">Background</span> <span class="color-hex">#</span>
    </div>
    <div class="sg-color-block background-white default-border default-border-radius">
      <span class="color-name">White</span> <span class="color-hex">#</span>
    </div>
    <div class="sg-color-block background-link color-white default-border default-border-radius">
      <span class="color-name">Link</span> <span class="color-hex">#</span>
    </div>
  </div>
  <div class="clearfix">
    <div class="sg-color-block background-status color-white default-border default-border-radius">
      <span class="color-name">Status</span> <span class="color-hex">#</span>
    </div>
    <div class="sg-color-block background-warning color-white default-border default-border-radius">
      <span class="color-name">Warning</span> <span class="color-hex">#</span>
    </div>
    <div class="sg-color-block background-error color-white default-border default-border-radius">
      <span class="color-name">Error</span> <span class="color-hex">#</span>
    </div>
  </div>
</div>

<div class="col-sm-6">
  <h3>Color classes</h3>
  <ul>
    <li><strong>color-background:</strong> page background</li>
    <li><strong>color-primary:</strong> main brand color</li>
    <li><strong>color-secondary:</strong> secondary brand color</li>
    <li><strong>color-black:</strong></li>
    <li><strong>color-grey:</strong> grey backgrounds like inactive tabs etc.</li>
    <li><strong>color-white:</strong></li>
    <li><strong>color-muted:</strong> muted text like descriptions etc.</li>
    <li><strong>color-text:</strong> default text color</li>
    <li><strong>color-link:</strong> default link color</li>
    <li><strong>color-status:</strong> status messages</li>
    <li><strong>color-warning:</strong> warning messages</li>
    <li><strong>color-error:</strong> error messages</li>
  </ul>
</div>
</div>