<p>Used for a list of terms with their associated descriptions.</p>
<div class="row">
  <div class="col col-md-6">
    <div class="sg-example">
      <dl>
        <dt>Parturient Mollis Justo</dt>
        <dd>Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo.</dd>
        <dt>Cras Risus Elit</dt>
        <dd>Nullam quis risus eget urna mollis ornare vel eu leo. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet.</dd>
        <dt>Malesuada Parturient Ultricies</dt>
        <dd>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</dd>
      </dl>

      <dl class="dl-horizontal">
        <dt>Parturient Mollis Justo</dt>
        <dd>Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo.</dd>
        <dt>Cras Risus Elit</dt>
        <dd>Nullam quis risus eget urna mollis ornare vel eu leo. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet.</dd>
        <dt>Malesuada Parturient Ultricies</dt>
        <dd>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit.</dd>
      </dl>
    </div>
  </div>
  <div class="col col-md-6">
    <pre class="sg-code">
      <code class="language-markup">
        {{ styleguideHtml('
<dl>
  <dt>...</dt>
  <dd>...</dd>
  <dt>...</dt>
  <dd>...</dd>
</dl>

<dl class="dl-horizontal">
  <dt>...</dt>
  <dd>...</dd>
  <dt>...</dt>
  <dd>...</dd>
</dl>
        ') }}
      </code>
    </pre>
  </div>
</div>