<p>Create bullet points or numbered lists.</p>

<h4>Modifier classes</h4>

<ul>
  <li><strong>list-check</strong></li>
  <li><strong>list-plus</strong></li>
  <li><strong>list-minus</strong></li>
</ul>

<div class="row">
  <div class="col col-md-6">
    <div class="sg-example">
      <ul>
        <li>Elit Lorem Risus</li>
        <li>Pellentesque Vehicula</li>
        <li>Venenatis Fermentum</li>
        <li>Aenean Pellentesque</li>
      </ul>
      <ol>
        <li>Fringilla Tristique</li>
        <li>Purus Ridiculus</li>
        <li>Vehicula Quam</li>
        <li>Egestas Sollicitudin</li>
      </ol>
      <ul class="list-check">
        <li>Elit Lorem Risus</li>
        <li>Pellentesque Vehicula</li>
        <li>Venenatis Fermentum</li>
        <li>Aenean Pellentesque</li>
      </ul>
      <ul class="list-plus">
        <li>Elit Lorem Risus</li>
        <li>Pellentesque Vehicula</li>
        <li>Venenatis Fermentum</li>
        <li>Aenean Pellentesque</li>
      </ul>
      <ul class="list-minus">
        <li>Elit Lorem Risus</li>
        <li>Pellentesque Vehicula</li>
        <li>Venenatis Fermentum</li>
        <li>Aenean Pellentesque</li>
      </ul>
    </div>
  </div>
  <div class="col col-md-6">
          <pre class="sg-code">
            <code class="language-markup">
              {{ styleguideHtml('
<ul>
  <li>...</li>
  <li>...</li>
  <li>...</li>
  <li>...</li>
</ul>

<ol>
  <li>...</li>
  <li>...</li>
  <li>...</li>
  <li>...</li>
</ol>

<ul class="list-check">
  <li>...</li>
  <li>...</li>
  <li>...</li>
  <li>...</li>
</ul>

<ul class="list-plus">
  <li>...</li>
  <li>...</li>
  <li>...</li>
  <li>...</li>
</ul>

<ul class="list-minus">
  <li>...</li>
  <li>...</li>
  <li>...</li>
  <li>...</li>
</ul>
        ') }}
            </code>
          </pre>
  </div>
</div>

