<p>Beautify your pieces of text by adding classes to your paragraphs.</p>
<div class="row">

  <div class="col col-md-6">
    <div class="sg-example">
      <p class="lead">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas faucibus mollis interdum. Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
      <p class="muted">Nulla vitae elit libero, a pharetra augue.</p>
      <p class="small muted">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
    </div>
  </div>

  <div class="col col-md-6">
    <pre class="sg-code">
      <code class="language-markup">
        {{ styleguideHtml('
<p class="lead">...</p>
<p>...</p>
<p class="muted">...</p>
<p class="small muted">...</p>
        ') }}
      </code>
    </pre>
  </div>

</div>