<p>Not to be confused with buttons, can be used for creating labels, tags, ...</p>
<div class="row">

  <div class="col col-md-6">
    <div class="sg-example">
      <p><span class="pill">Pill</span></p>
      <p><span class="pill icon-star">Pill</span></p>
      <p><a href="#" class="pill icon-star">Pill (with link)</a></p>
      <p>
        <span class="pill pill-primary">Pill primary</span>
        <span class="pill pill-secondary">Pill secondary</span>
      </p>
    </div>
  </div>

  <div class="col col-md-6">
    <pre class="sg-code">
      <code class="language-markup">
        {{ styleguideHtml('
<span class="pill">Pill</span>
<span class="pill icon-star">Pill</span>
<a href="#" class="pill icon-star">Pill (with link)</a>

<span class="pill pill-primary">Pill</span>
<span class="pill pill-secondary">Pill</span>
        ') }}
      </code>
    </pre>
  </div>

</div>