<p>Used for linking to the full content in teasers etc. Don't use for external links or other purposes.</p>
<div class="row">
  {{ styleguide('
<p><a href="#" class="read-more">Read more</a></p>
  ') }}
</div>