<p>The usual bold/italic/... styles are available.</p>
<div class="row">
  {{ styleguide('

<p>Text rendered as <strong>bold text</strong></p>

<p>Text rendered as <em>italicized text</em></p>

<p>Text rendered as <s>strikethrough text</s></p>

<p>Text rendered as <u>underline text</u></p>

<p>Text rendered as <small>small text</small></p>

<p>Text rendered as <sup>sup text</sup></p>

<p>Text rendered as <sub>sub text</sub></p>

  ') }}
</div>